@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  background-image: url('../images/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#header::after {
  content: '';
  position: absolute;
  /* z-index: -1; */
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
